@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-primaria:#000000;
  --cor-secundaria: #F6f6f6;
  --cor-terciaria:rgb(124, 12, 40);
  --cor-hover:  rgb(24, 24, 24);
  --cor-destaque:rgba(226, 0, 0, 0.973);
  --fonte-primaria:  "Bebas Neue", sans-serif;
  --fonte-secundaria:  "montserrat", sans-serif;}

* {
margin: 0;
padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5;
  }
  .cabecalho{
  padding: 2% 0% 0% 24%;
  }
  .cabealho__menu {
    display: flex;
    gap: 8%
  }
  .cabecalho__menu__links{
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    border: var(--cor-terciaria) 1px solid;
    border-radius: 8px;
    padding: 3px 8px;
    font-size: 1.5rem;
    font-weight: 50%;
    color: var(--cor-secundaria);
    text-decoration: none;
    letter-spacing: 2px;
    gap: 5px;
  }
  .cabecalho__menu__links:hover {
    color: var(--cor-destaque);
  }
  h1 {
    font-weight: bold;
  }
  span {
    color: var(--cor-destaque);
    border: 1px solid var(--cor-terciaria);
    padding: 4px
  }
  .apresentacao {
    text-align: center;
    margin: 8% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
  }
  .apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.24rem;
  }
.apresentacao__conteudo__titulo {
    font-size: 2.2rem;
    font-family: var(--fonte-primaria);
  }
  .titulo-destaque {
    color: var(--cor-destaque);
  }
.apresentacao__conteudo__paragrafo {
    font-size: 1.625rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__ancora {
    align-items: center;
}
.apresentacao__conteudo__links {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
.apresentacao__conteudo__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-weight: 50%;
  font-size: 2.25rem;
}
.twitter__logo__red{
  width: 1.625rem;
}
.tiktok__logo__red{
  width: 2.125rem;
}
.instagram__logo__red{
  width: 1.75rem;
}
.Corinthians__logo{
  width: 40%;
}
.apresentacao__conteudo__links__botao {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border: 2px solid var(--cor-terciaria);
   width: 50%;
   text-align: center;
   border-radius: 8px;
   font-size: 1.5rem;
   padding: 12px 0;
   color: #ffffff;
   text-decoration: none;
   font-family:var(--fonte-secundaria);
   font-weight: 600;
}
.apresentacao__conteudo__links__botao:hover {
background-color: rgb(24, 24, 24);
padding: 14px 4px;
}
.rodape{
  padding: 24px;
  color: #ffffff;
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family:var(--fonte-secundaria);
}
.apresentacao__conteudo__texto {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);}

  @media (max-width: 1200px) {
    .cabecalho{
      padding: 8% ;
      }
    .cabealho__menu {
      justify-content: center;
      }
    .apresentacao{
      margin: 4% 10%;
      flex-direction: column-reverse;}

    .apresentacao__conteudo{
      width: 100%;
    }
  }
  